/* Shared reset to nullify default browser styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  color-scheme: dark;
  --background: #070d12;
  --foreground: #f7f7ff;

  --secondary: #080e11;
  --secondary-foreground: #131a28;

  --primary: #0064f4;
  --primary-accent: #0055cc;
  --primary-foreground: #5ba1fd;

  --muted: #5d6882;
  --muted-accent: #33415c;
  --muted-foreground: #919bb3;
}

html,
body {
  width: 100%;
  min-height: 100%;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: transparent;
  border: 0;
}

button,
[role='button'] {
  cursor: pointer;
  background: transparent;
  border: none;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

blockquote,
dl,
dd,
figure {
  margin: 0;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: 2px;
}
