:root {
  --space-8: clamp(0.25rem, calc(0.365vw + 0.172rem), 0.5rem);
  --space-12: clamp(0.375rem, calc(0.547vw + 0.257rem), 0.75rem);
  --space-16: clamp(0.5rem, calc(0.730vw + 0.343rem), 1rem);
  --space-20: clamp(0.625rem, calc(0.912vw + 0.429rem), 1.25rem);
  --space-24: clamp(0.75rem, calc(1.095vw + 0.515rem), 1.5rem);
  --space-32: clamp(1rem, calc(1.460vw + 0.686rem), 2rem);
  --space-40: clamp(1.25rem, calc(1.825vw + 0.858rem), 2.5rem);
  --space-48: clamp(1.5rem, calc(2.190vw + 1.029rem), 3rem);
  --space-64: clamp(2rem, calc(2.920vw + 1.372rem), 4rem);
  --space-128: clamp(4rem, calc(5.839vw + 2.745rem), 8rem);
}
