.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout__navbar-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: var(--space-16);
}

.layout__main {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
}
