.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.button--stretch {
  width: 100%;
}

.button__before,
.button__after,
.button__content {
  display: inline-flex;
  align-items: center;
}

.button--default {}

.button--secondary {}

.button--outline {}

.button--accent {}

.button--size-default {}

.button--size-icon {}
