.typo {
  margin: 0;
  color: inherit;
  font-family: inherit;
  line-height: normal;
}

.typo-size-sm {
  font-size: clamp(0.875rem, 0vw + 0.875rem, 0.875rem);
}

.typo-size-md {
  font-size: clamp(1rem, 0.195vw + 0.95rem, 1.125rem);
}

.typo-size-lg {
  font-size: clamp(1.25rem, 0.195vw + 1.2rem, 1.375rem);
}

.typo-size-xl {
  font-size: clamp(1.5rem, 0.39vw + 1.399rem, 1.75rem);
}

.typo-size-2xl {
  font-size: clamp(1.75rem, 0.78vw + 1.548rem, 2.25rem);
}

.typo-size-3xl {
  font-size: clamp(2rem, 1.17vw + 1.697rem, 2.75rem);
}

.typo-size-4xl {
  font-size: clamp(2.5rem, 1.559vw + 2.096rem, 3.5rem);
}

.typo-size-5xl {
  font-size: clamp(3rem, 1.949vw + 2.496rem, 4.25rem);
}

.typo-weight-regular {
  font-weight: 400;
}

.typo-weight-medium {
  font-weight: 500;
}

.typo-align-left {
  text-align: left;
}

.typo-align-center {
  text-align: center;
}

.typo-align-right {
  text-align: right;
}

.typo-align-justify {
  text-align: justify;
}

.typo-transform-uppercase {
  text-transform: uppercase;
}

.typo-transform-lowercase {
  text-transform: lowercase;
}

.typo-transform-capitalize {
  text-transform: capitalize;
}
