.typo {
  margin: 0;
  color: inherit;
  font-family: inherit;
  line-height: normal;
}

.typo-size-sm {
  font-size: clamp(0.8750rem, 0.000vw + 0.8750rem, 0.8750rem);
}

.typo-size-md {
  font-size: clamp(1.0000rem, calc(0.0114vw + 0.9608rem), 1.1250rem);
}

.typo-size-lg {
  font-size: clamp(1.1250rem, calc(0.0228vw + 1.0465rem), 1.3750rem);
}

.typo-size-xl {
  font-size: clamp(1.2500rem, calc(0.0456vw + 1.0931rem), 1.7500rem);
}

.typo-size-2xl {
  font-size: clamp(1.3750rem, calc(0.0798vw + 1.1004rem), 2.2500rem);
}

.typo-size-3xl {
  font-size: clamp(1.5000rem, calc(0.1141vw + 1.1077rem), 2.7500rem);
}

.typo-size-4xl {
  font-size: clamp(1.7500rem, calc(0.1597vw + 1.2007rem), 3.5000rem);
}

.typo-size-5xl {
  font-size: clamp(2.0000rem, calc(0.2053vw + 1.2938rem), 4.2500rem);
}

.typo-weight-regular {
  font-weight: 400;
}

.typo-weight-medium {
  font-weight: 500;
}

.typo-align-left {
  text-align: left;
}

.typo-align-center {
  text-align: center;
}

.typo-align-right {
  text-align: right;
}

.typo-align-justify {
  text-align: justify;
}

.typo-transform-uppercase {
  text-transform: uppercase;
}

.typo-transform-lowercase {
  text-transform: lowercase;
}

.typo-transform-capitalize {
  text-transform: capitalize;
}
