.typo {
  margin: 0;
  color: inherit;
  font-family: inherit;
  line-height: normal;
}

.typo-size-sm {
  font-size: clamp(0.8750rem, 0.000vw + 0.8750rem, 0.8750rem);
}

.typo-size-md {
  font-size: clamp(1.0000rem, 0.129vw + 0.9697rem, 1.1250rem);
}

.typo-size-lg {
  font-size: clamp(1.1250rem, 0.259vw + 1.0643rem, 1.3750rem);
}

.typo-size-xl {
  font-size: clamp(1.2500rem, 0.518vw + 1.1286rem, 1.7500rem);
}

.typo-size-2xl {
  font-size: clamp(1.3750rem, 0.906vw + 1.1626rem, 2.2500rem);
}

.typo-size-3xl {
  font-size: clamp(1.5000rem, 1.294vw + 1.1966rem, 2.7500rem);
}

.typo-size-4xl {
  font-size: clamp(1.7500rem, 1.812vw + 1.3252rem, 3.5000rem);
}

.typo-size-5xl {
  font-size: clamp(2.0000rem, 2.330vw + 1.4539rem, 4.2500rem);
}

.typo-weight-regular {
  font-weight: 400;
}

.typo-weight-medium {
  font-weight: 500;
}

.typo-align-left {
  text-align: left;
}

.typo-align-center {
  text-align: center;
}

.typo-align-right {
  text-align: right;
}

.typo-align-justify {
  text-align: justify;
}

.typo-transform-uppercase {
  text-transform: uppercase;
}

.typo-transform-lowercase {
  text-transform: lowercase;
}

.typo-transform-capitalize {
  text-transform: capitalize;
}
